.container-portada{
    width: 100%;
    height: 550px;
    background-image: url(https://cdn.andro4all.com/andro4all/2020/12/Pokmon-Kanto-originales.jpg);
    background-size: 125%;
    animation: movimiento 10s infinite linear alternate;
}

@keyframes movimiento{
    from{
        background-position: bottom right;
    }to{
        background-position: top  left;
    }
}
body{
    background-color:aquamarine;
}